<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Nova Nota</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<header>
    <h1>Nova Nota</h1>
    <a th:href="@{/grades}">Voltar</a> |
    <a th:href="@{/logout}">Sair</a>
</header>

<form th:action="${grade.id == null} ?
        @{/grades/enrollment/{id}/save(id=${grade.enrollment.id})} :
        @{/grades/enrollment/{enrollmentId}/update/{gradeId}(enrollmentId=${grade.enrollment.id}, gradeId=${grade.id})}"
      th:object="${grade}" method="post">
    <div>
        <label for="grade">Nota:</label>
        <input type="text" id="grade" th:field="*{grade}" required/>
    </div>

    <div>
        <label for="description">Descrição:</label>
        <input type="text" id="description" th:field="*{description}" required/>
    </div>

    </div>

    <button type="submit">Cadastrar nota</button>
</form>

</body>
</html>
